.header-flat h1 {
  font-size: 18px;
}

.header-flat-details {
  display: flex;
}

.header-flat-owner {
  padding: 20px
}

.header-flat {
  margin: 20px;
}

.header-flat form {
  background-color: #F4F4F4;
  padding: 20px
}
