.header-flat h1 {
  font-size: 18px;
}

.header-flat-details {
  display: flex;
}

.header-flat-owner {
  padding: 20px
}

.header-flat {
  margin: 20px;
}

.header-flat form {
  background-color: #F4F4F4;
  padding: 20px
}

#flat-description {
  background-color: #F5F5F5;
  padding: 50px 0;
  font-size: 14px;
}

#flat-description h2 {
  font-size: 18px;
}

hr {
  margin: 25px 0;
  border-top: 1px solid rgb(230, 230, 230);
}
