<div id="team">
  <div class="team-member">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <li>
        <img class="img-circle" src="https://avatars.githubusercontent.com/dream7boy" alt="">
        <h2>Junggun Lee</h2>
        <p>
          <a href="https://github.com/dream7boy" target="_blank">
            <i class="fa fa-github">dream7boy</i>
          </a>
        </p>
      </li>
      <li>
        <img class="img-circle" src="https://avatars.githubusercontent.com/Tivo389">
        <h2>Shun Miyaki</h2>
        <p>
          <a href="https://github.com/Tivo389" target="_blank">
            <i class="fa fa-github">Tivo389</i>
          </a>
        </p>
      </li>
    </ul>
  </div>
</div>
